tensorflow==2.15.0
pandas==2.2.1
dvc==3.48.0
mlflow==2.11.1
notebook==7.1.2
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
python-box==7.2.0
PyYAML==6.0.1
tqdm==4.66.2
ensure==1.0.2
joblib==1.4.0
types-PyYAML==6.0.12.12
scipy==1.12.0
Flask==3.0.2
Flask-Cors==4.0.0
gdown==5.1.0
-e .